<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <p class="text-center">Please enter your email address to request a password reset.</p>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="Email Address" #passwordResetEmail required>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
      <div class="redirectToLogin">
        <span>Go back to ? <span class="redirect" routerLink="/sign-in">Sign In</span></span>
      </div>
    </form>
  </mat-card>

</div>